# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/block-busto/node_modules
/block-busto/.pnp
/block-busto/.pnp.*
/block-busto.yarn/*
/block-busto/!.yarn/patches
/block-busto/!.yarn/plugins
/block-busto/!.yarn/releases
/block-busto/!.yarn/versions

# testing
/block-busto/coverage

# next.js
/block-busto/.next/
/block-busto/out/

# production
/block-busto/build

/block-busto/# misc
/block-busto/.DS_Store
/block-busto/*.pem

# debug
/block-busto/npm-debug.log*
/block-busto/yarn-debug.log*
/block-busto/yarn-error.log*
/block-busto/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/block-busto/.env*
/block-busto/.env*.local

# vercel
/block-busto/.vercel

# typescript
/block-busto/*.tsbuildinfo
/block-busto/next-env.d.ts